body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

table tr td img {
    max-height: 120px;
}

table tr td {
    padding-right: 30px;
}

.main-title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.foto_anuncio-container {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
}

.foto_anuncio {
    margin-top: 10px;
    max-width: 100%;
    object-fit: cover;
}

.log-btns {
    justify-content: flex-end;
}
